<%- include('header') %>
    <section>
        <h1>Detalles del carrito</h1>
    </section>
    <section style="width: 80%; margin: 0 auto;">
       <table>
            <head>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Descripción</th>
                    <th>Imagen</th>
                </tr>
            </head>
            <tbody>
                <%if(allProducts.length == 0) { %>
                    <td colspan="4">
                        no hay productos seleccionados
                    </td>
                <% } else { %>
                    <% for(let product of allProducts) { %>
                        <tr>
                            <td><%= product.name %></td>
                            <td>$<%= product.price %></td>
                            <td><%= product.description %></td>
                            <td>
                                <img width="100" src="<%= product.img %>" alt="<%= product.name %>">
                            </td>
                        </tr>
                    <% } %>
                    <tr>
                        <td colspan="4">
                           Total $<%= total %>
                        </td>
                    </tr>
                <% } %>
            </tbody>
       </table>
        <%if(allProducts.length > 0) { %>
        <div style="display: flex; justify-content: center;">
            <div class="formulario-pago">
                <h2>Formulario de Pago</h2>
                <form action="/submit-payment" method="post" id="payment-form">
                    <label for="nombre">Nombre</label>
                    <input type="text" id="nombre" name="nombre" required>
                    
                    <label for="email">Correo Electrónico</label>
                    <input type="email" id="email" name="email" required>
                    
                    <label for="telefono">Teléfono</label>
                    <input type="tel" id="telefono" name="telefono" required>
                    
                    <label for="direccion">Dirección</label>
                    <input type="text" id="direccion" name="direccion" required>
                    
                    <label for="numero-tarjeta">Número de Tarjeta</label>
                    <input type="number" id="numero-tarjeta" name="numero-tarjeta" required>
                    
                    <label for="fecha-expiracion">Fecha de Expiración</label>
                    <input type="month" id="fecha-expiracion" name="fecha-expiracion" required>
                    
                    <label for="cvv">CVV</label>
                    <input type="number" id="cvv" name="cvv" required>
                    
                    <button type="submit">Pagar</button>
                    <span id="payment-success"></span>
                </form>
            </div>
        </div>
        <% } %>
    </section>
<%- include('footer') %>
