<%- include('header') %>
    <section>
        <h1>Detalles del producto</h1>
    </section>
    <section id="product-full-detail">
        <article id="product-detail">
            <div>
                <img width="400" src="<%= product.img %>" alt="">
            </div>
            <div id="product-info">
                <span class="product-title"><%= product.name %></span>
                <br>
                <br>
                <span class="product-price">$<%= product.price %></span>
                <br>
                <span class="product-description">
                    <%= product.description %>
                </span>
                <button>Añadir al carrito</button>
            </div>
        </article>
    </section>
<%- include('footer') %>
